/*Desktop view*/
@media only screen and (min-width: 400px) and (max-width: 2160px) {
    @font-face {
        font-family: "ralewayblack";
        src: url("/design/font/Raleway-Black.ttf") format("truetype");
        font-weight: normal;
        font-style: normal;
    }
    
    @font-face {
        font-family: "ralewaymedium";
        src: url(/design/font/Raleway-Medium.ttf);
    }
    
    @font-face {
        font-family: "ralewayregular";
        src: url(/design/font/Raleway-Regular.ttf) format("truetype");
        font-weight: normal;
        font-style: normal;
    }
    
    @font-face {
            font-family: "ralewaysemibold";
            src: url("/design/font/Raleway-SemiBold.ttf") format("truetype");
        }
    
    a {
        opacity: 0.7;
        text-decoration: none;
        color: #ffffff !important;
    }
    
    a:active {
        font-family: "ralewayblack";
    }

    body {
        padding: 0%;
        margin: 0%;
    }

    li {
        list-style-type: none;
        display: inline-block;
        padding: 30px
    }
    
    ul {
        padding: 10px;
    }
    
    .carousel-control-next, .carousel-control-next-icon {
        padding-left: 600px;
        padding-bottom: 1%;
        align-self: flex-end;
        left: 50px;
    }
    
    .carousel-control-prev, .carousel-control-prev-icon {
        padding-left: 600px;
        padding-bottom: 1%;
        align-self: flex-end;
        right: 50px;
    }
    
    .company-logo {
        height: 80px;
        width: 180px;
        margin: 10px 60px 10px 40px;
        float: left;
    }

    .navbar-links {
        display: none;
    }
    
    .slogan {
        background-color: #000000;
        opacity: 0.8;
        position: absolute;
        font-family: "ralewayregular";
        font-size: x-large;
        color: #ffffff;
        margin: 20%;
        padding: 2%;
        text-align: center;
    }
    
    #carousel {
        z-index: -1;
    }
    
    #contact-info {
        background-color: #000000;
        width: 100%;
        display: inline-block;
        font-family: "ralewayregular";
        font-size: small;
    }
    
    #contact-email {
        color: #ffffff; 
        float: right;
        margin-right: 2%;
        margin-top: 0.5%;
        margin-bottom: 0.5%;
    }
    
    #contact-number {
        color: #ffffff; 
        float: right;
        margin-right: 10%;
        margin-top: 0.5%;
        margin-bottom: 0.5%;
    }

    #mobile-image {
        display: none;
    }

    #mobile-company-logo {
        display: none;
    }

    #mobile-contact-info {
        display: none;
    }

    #mobile-nav-menu {
        display: none;
    }

    #mobile-nav-menu-button {
        display: none;
    }    
    
    #nav {
        background-color: #000000;
        opacity: 0.7;
        text-align: center;
        align-content: center;
        font-family: "ralewaysemibold";
        opacity: 0.7;
        position: absolute;
        width: 100%;
    }

    #our-mission {
        text-align: center;
        font-family: "ralewaymedium";
        margin-top: 2%;
    }
    
    #our-mission-text {
        text-align: center;
        margin: 0% 8% 2% 8%;
        font-family: "ralewayregular";
    }
}

/*Mobile phone view*/
@media only screen and (max-width: 400px) {

    @font-face {
        font-family: "ralewayblack";
        src: url("/design/font/Raleway-Black.ttf") format("truetype");
        font-weight: normal;
        font-style: normal;
    }
    
    @font-face {
        font-family: "ralewaymedium";
        src: url(/design/font/Raleway-Medium.ttf);
    }
    
    @font-face {
        font-family: "ralewayregular";
        src: url(/design/font/Raleway-Regular.ttf) format("truetype");
        font-weight: normal;
        font-style: normal;
    }
    
    @font-face {
            font-family: "ralewaysemibold";
            src: url("/design/font/Raleway-SemiBold.ttf") format("truetype");
        }

    body {
        margin: 0%;
        padding: 0%;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links ul li {
        text-align: center;
        list-style-type: none;
    }

    .navbar-links ul li a {
        padding: 0.5rem 1rem;
        font-family: "ralewayregular";
    }

    .navbar-links.active {
        display: flex;
    }   

    .slogan {
        display: none;
    }    
    
    #carousel {
        display: none;
    }

    #contact-info {
        display: none;
    }

    #mobile-company-logo {
        width: 50%;
        background-color:#818181;
        vertical-align: middle;
        float: left;
        margin: 2% 2%;
    }

    #mobile-contact-info {
        display: inline-block;
        list-style-type: none;
        background-color: #818181;
        margin: auto;
    }

    #mobile-contact-info #contact-email {
        background-color:#818181;
        font-family: "ralewayregular";
        text-align: center;
        float: right;
        margin: 2% 2%;
    }

    #mobile-contact-info #contact-number {
        background-color:#818181;
        font-family: "ralewayregular";
        text-align: center;
        float: right;
        margin: 2% 2%;
    }
    #mobile-image {
        display: inline-block;
        width: 100%;
    }    
    
    #mobile-nav-menu {
        flex-direction: column;
        align-items: flex-start;
    }

    .mobile-nav-menu-button {
        display: flex;
        float: right;
    }

    #nav {
        display: none;
    }

    #our-mission {
        text-align: center;
        font-family: "ralewaymedium";
        margin-top: 2%;
    }
    
    #our-mission-text {
        text-align: center;
        margin: 0% 8% 2% 8%;
        font-family: "ralewayregular";
    }
}